body > header {
    position: relative;
    height: 100px;
    background-color:black;
    z-index: 1;
    display: flex;
    justify-content: right;
}
header > nav {
    font-size: 36px;
    font-weight: 700;
    color: white;
}
header > nav > ul > li {
    display: inline;
    margin-left: 40px;
    margin-right: 25px;
    cursor: pointer;
}
header > nav > ul > li:hover {
    color: #18E5CD;
}
.PageView{
    position: relative;
    border: 2px solid red;
    height: 100vh;
}
main > section:nth-child(1) > div:nth-child(1)>div:nth-child(1) {
    position: absolute;
    top: 59px;
    left: 192px;
    margin: auto;
}
main > section:nth-child(1) > div:nth-child(1)>div:nth-child(1)>img {
    position: relative;
    height: 330px;
    left: 181px;
    border-radius: 100%;
    border-width: 5px;
    border: 6px solid black;
}
main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)> h3{
    text-align: center;
    margin: auto;
    font-size: 95px;
    font-family: 'Saira Condensed', sans-serif;
}
main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)> h1{
    text-align: center;
    margin: auto;
    font-size: 150px;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
}
main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)>h1>cc{
    color: #18E5CD;
}
#secDP{
    position: absolute;
    top: 17px;
    left: 1193px;
    margin: auto;
}
#SecDpID{
    width: 640px;
    height: 744px;
}
main>section>div>div>div>a{
    all: initial;
}
.align{
    display:flex ;
    width: 480px;
    justify-content: space-evenly;
    margin: auto;
}
.icn{
    width: 64px;
}


/*_________________________ ABOUT ME ____________________________________*/

section:nth-child(2) > div{
    position: absolute;
}

/*.about{
    text-align: center;
}*/
#ABOUT{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 130px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>am{
    color: #18E5CD;
}
#img3div{
    position: absolute;
    top: 160px;
    left: 169px;
    margin: auto;
}
#img3{
    width: 830px;
    height: 755px;
}
h1#ABOUT:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 525px;
    top: 43%;
    position: absolute;
}
h1#ABOUT:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 525px;
    top: 43%;
    position: absolute;
}
section>div>h1>u>colourchange {
    color: #18E5CD;
}
#changeUnderLine{
    color: #18E5CD;
}
section>div>ul>li>h2{
    font-size: 38px;
    font-family: 'Saira Condensed', sans-serif;
}
#aboutDetails{
    position: relative;
    top: 29px;
    left:1129px;
    margin: auto;
}
section>div:nth-child(3)>h1{
    font-weight: bold;
    font-size: 98px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>ul>li{
    line-height: 20px;
}

/*___________________________CV DOWNLOAD BUTTON___________________________*/

#btnDiv{
    position: absolute;
    top: 540px;
    left:360px;
    margin: auto;
}
#cvBtn{
    border-radius: 68px;
    width: 270px;
    height: 64px;
    background-color: #18E5CD;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}
#cvBtn>btnTxt{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Saira Condensed', sans-serif;
}
#cvBtn>btnTxt:hover{
    color: white;
    cursor: pointer;
}
/*___________________________CV DOWNLOAD BUTTON___________________________*/


/*___________________________Educational___________________________*/




#EDUCATION{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>EE{
    color: #18E5CD;
}
h1#EDUCATION:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 310px;
    top: 43%;
    position: absolute;
}
h1#EDUCATION:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 300px;
    top: 43%;
    position: absolute;
}

#setBox{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 2000px;
    height: 500px;
    background-color: red;
}



/*_______________1box________________*/
#secBox{
    position: absolute;
    left: 11.32%;
    right: 80%;
    top: 15.2%;
    bottom: 81.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox{
    position: absolute;
    left: 11.28%;
    right: 75.74%;
    top: 20.14%;
    bottom: 69.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox>h2{
    color: black;
  text-align: center;
}
#big{
    position: absolute;
    left: 0.65%;
    right: 85.1%;
    top: 30.51%;
    border: 4px solid #000000;
    transform: rotate(90deg);
}
#short{
    position: absolute;
    left: 7.65%;
    right: 88.1%;
    top: 22.51%;
    border: 4px solid #000000;
    transform: rotate(180deg);
}
#circle{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 128px;
    top: 208px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________1boxEnd________________*/


/*_______________2box________________*/
#secBox2{
    position: absolute;
    left: 11.32%;
    right: 80%;
    top: 42.2%;
    bottom: 54.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox2>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox2{
    position: absolute;
    left: 11.28%;
    right: 75.74%;
    top: 47.14%;
    bottom: 42.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox2>h2{
    color: black;
    text-align: center;
}
#big2{
    position: absolute;
    left: 0.65%;
    right: 85.1%;
    top: 50.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short2{
    position: absolute;
    left: 7.65%;
    right: 88.1%;
    top: 49.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle2{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 129px;
    top: 459px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________2boxEnd________________*/

/*_______________3box________________*/
#secBox3{
    position: absolute;
    left: 11.32%;
    right: 80%;
    top: 70.2%;
    bottom: 26.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox3>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox3{
    position: absolute;
    left: 11.28%;
    right: 75.74%;
    top: 75.14%;
    bottom: 14.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox3>h2{
    color: black;
    text-align: center;
}
#big3{
    position: absolute;
    left: 0.65%;
    right: 85.1%;
    top: 78.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short3{
    position: absolute;
    left: 7.65%;
    right: 88.1%;
    top: 77.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle3{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 129px;
    top: 721px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________3boxEnd________________*/

/*_______________4box________________*/
#secBox4{
    position: absolute;
    left: 71.32%;
    right: 20%;
    top: 15.2%;
    bottom: 81.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox4>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox4{
    position: absolute;
    left: 71.28%;
    right: 15.74%;
    top: 20.14%;
    bottom: 69.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox4>h2{
    color: black;
    text-align: center;
}
#big4{
    position: absolute;
    left: 60.65%;
    right: 25.1%;
    top: 30.51%;
    border: 4px solid #000000;
    transform: rotate(90deg);
}
#short4{
    position: absolute;
    left: 68.65%;
    right: 28.1%;
    top: 22.51%;
    border: 4px solid #000000;
    transform: rotate(180deg);
}
#circle4 {
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 1269px;
    top: 208px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________4boxEnd________________*/

/*_______________5box________________*/
#secBox5{
    position: absolute;
    left: 71.32%;
    right: 20%;
    top: 42.2%;
    bottom: 54.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox5>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox5{
    position: absolute;
    left: 71.28%;
    right: 15.74%;
    top: 47.14%;
    bottom: 42.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox5>h2{
    color: black;
    text-align: center;
}
#big5{
    position: absolute;
    left: 58.65%;
    right: 23.1%;
    top: 50.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short5{
    position: absolute;
    left: 67.65%;
    right: 28.1%;
    top: 49.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle5{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 1267px;
    top: 459px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________5boxEnd________________*/

/*_______________6box________________*/
#secBox6{
    position: absolute;
    left: 71.32%;
    right: 20%;
    top: 70.2%;
    bottom: 26.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox6>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox6{
    position: absolute;
    left: 71.28%;
    right: 15.74%;
    top: 75.14%;
    bottom: 14.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox6>h2{
    color: black;
    text-align: center;
}
#big6{
    position: absolute;
    left: 61.65%;
    right: 26.1%;
    top: 78.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short6{
    position: absolute;
    left: 67.65%;
    right: 28.1%;
    top: 77.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle6{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 1269px;
    top: 721px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________6boxEnd________________*/


/*_________________________Projects_____________________________________*/

#projects{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>mp{
    color: #18E5CD;
}
h1#projects:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 545px;
    top: 43%;
    position: absolute;
}
h1#projects:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 545px;
    top: 43%;
    position: absolute;
}

/*_________________________Skills_____________________________________*/

#skills{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>mskill{
    color: #18E5CD;
}
h1#skills:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 590px;
    top: 43%;
    position: absolute;
}
h1#skills:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 590px;
    top: 43%;
    position: absolute;
}




#mainSlider {
    height: 371px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 90px;
    right: 112px;
    bottom: 235px;
    margin: auto;
    overflow: hidden

}
#iconSlide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 3475px;
    animation: scroll 10s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 0.1ms;
}

@keyframes scroll {
    from {
        margin-left: 1828px;
    }
    to {
        margin-left: -1821px;
    }
}

.slidPicBox {
    height: 222px;
    width: 247px;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgb(33 141 128);
}
.pic{
    position: relative;
    height: 222px;
    width: 247px;
    top: 0;
    left: 0;
    margin: auto;
}
.pic2{
    position: relative;
    height: 150px;
    width: 180px;
    top: 31px;
    left: 32px;
    margin: auto;
}


/*_________________________Contact_____________________________________*/

#contact{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>mc{
    color: #18E5CD;
}
h1#contact:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 590px;
    top: 43%;
    position: absolute;
}
h1#contact:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 590px;
    top: 43%;
    position: absolute;
}
#contactDetail{
    position: absolute;
    width: 822px;
    height: 305px;
    top: -298px;
    left: 60px;
    right: 869px;
    bottom: 0px;
    margin: auto;
}
.contactHead{
    text-align: center;
    margin: auto;
    font-size: 66px;
    font-family: 'Saira Condensed', sans-serif;
}
#contactDetail>img{
    position: relative;
    height: 435px;
    left: 150px;
}
.contactFooter{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: 'Saira Condensed', sans-serif;
}


/*main>section>div>div>div>a{
    all: initial;
}*/
.alignContactIcn{
    position: absolute;
    display: flex;
    width: max-content;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: 236px;
    left: 55px;
}
.contactIcn{
    width: 45px;

}
#before {
    width: 7px;
    height: 142px;
    left: 18px;
    top: 263px;
    position: absolute;
    background-color: black;
}
#after {
    width: 7px;
    height: 147px;
    bottom: 280px;
    top: -210px;
    left: 18px;
    position: absolute;
    background-color: black;
}
#chatBox{
    position: absolute;
    display: flex;
    height: 331px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: 268px;
    left: 1088px;
}
.lbl{
    left: 35px;
    color: black;
    margin-top: 31px;
    font-weight: bold;
    font-size: 33px;
    font-family: 'Saira Condensed', sans-serif;
}
.inp{
    border: 4px solid black;
    width: 643px;
    height: 44px;
    font-size: 26px;
}
.inp2{
    border: 4px solid black;
    width: 643px;
    font-size: 26px;
    border-radius: 20px;
}
#contactBtnDiv{

    position: absolute;
    margin: auto;
    left: 490px;
}
#contactBtn{
    width: 161px;
    height: 53px;
    background: #18E5CD;
    box-shadow: -1px 2px 16px #18e5cd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border: 0;
    font-family: 'Saira Condensed', sans-serif;
}
#contactBtn:hover{
    color: white;
    cursor: pointer;
}
