body > header {
    position: relative;
    height: 100px;
    background-color:black;
    z-index: 1;
    display: flex;
    justify-content: right;
}
header > nav {
    font-size: 36px;
    font-weight: 700;
    color: white;
}
header > nav > ul > li {
    display: inline;
    margin-left: 40px;
    margin-right: 25px;
    cursor: pointer;
}
header > nav > ul > li>a {
    color: white;
    text-decoration: black;
}
header > nav > ul > li>a:hover {
    color: #18E5CD;
}
.PageView{
    position: relative;
    height: 100vh;
}
main > section:nth-child(1) > div:nth-child(1)>div:nth-child(1) {
    position: absolute;
    top: 59px;
    left: 192px;
    margin: auto;
}
main > section:nth-child(1) > div:nth-child(1)>div:nth-child(1)>img {
    position: relative;
    height: 330px;
    left: 181px;
    border-radius: 100%;
    border-width: 5px;
    border: 6px solid black;
}
main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)> h3{
    text-align: center;
    margin: auto;
    font-size: 95px;
    font-family: 'Saira Condensed', sans-serif;
}
main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)> h1{
    text-align: center;
    margin: auto;
    font-size: 150px;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
}
main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)>h1>cc{
    color: #18E5CD;
}
#secDP{
    position: absolute;
    top: 17px;
    left: 1193px;
    margin: auto;
}
#SecDpID{
    width: 640px;
    height: 744px;
}
main>section>div>div>div>a{
    all: initial;
    cursor: pointer;
}
.align{
    display:flex ;
    width: 480px;
    justify-content: space-evenly;
    margin: auto;
}
.icn{
    width: 64px;
}


/*_________________________ ABOUT ME ____________________________________*/

section:nth-child(2) > div{
    position: absolute;
}
#ABOUT{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 130px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>am{
    color: #18E5CD;
}
#img3div{
    position: absolute;
    top: 160px;
    left: 169px;
    margin: auto;
}
#img3{
    width: 830px;
    height: 755px;
}
h1#ABOUT:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 525px;
    top: 43%;
    position: absolute;
}
h1#ABOUT:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 525px;
    top: 43%;
    position: absolute;
}
section>div>h1>u>colourchange {
    color: #18E5CD;
}
#changeUnderLine{
    color: #18E5CD;
}
section>div>ul>li>h2{
    font-size: 38px;
    font-family: 'Saira Condensed', sans-serif;
}
#aboutDetails{
    position: absolute;
    top: 29px;
    left: 1124px;
    top: 173px;
    margin: auto;
}
section>div:nth-child(3)>h1{
    font-weight: bold;
    font-size: 98px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>ul>li{
    line-height: 20px;
}

/*___________________________CV DOWNLOAD BUTTON___________________________*/

#btnDiv{
    position: absolute;
    top: 605px;
    left: 354px;
    margin: auto;
}
#cvBtn{
    border-radius: 68px;
    width: 270px;
    height: 64px;
    background-color: #18E5CD;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}
#cvBtn>btnTxt{
    font-weight: bold;
    font-size: 50px;
    font-family: 'Saira Condensed', sans-serif;
}
#cvBtn>btnTxt:hover{
    color: white;
    cursor: pointer;
}
/*___________________________CV DOWNLOAD BUTTON___________________________*/


/*___________________________Educational___________________________*/



#EDUCATION{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>EE{
    color: #18E5CD;
}
h1#EDUCATION:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 310px;
    top: 43%;
    position: absolute;
}
h1#EDUCATION:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 300px;
    top: 43%;
    position: absolute;
}

#setBox{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 2000px;
    height: 500px;
    background-color: red;
}



/*_______________1box________________*/
#secBox{
    position: absolute;
    left: 21.32%;
    right: 69%;
    top: 15.2%;
    bottom: 81.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox{
    position: absolute;
    left: 21.28%;
    right: 63.74%;
    top: 20.14%;
    bottom: 69.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox>h2{
    color: black;
  text-align: center;
}
#big{
    position: absolute;
    left: 9.65%;
    right: 74.1%;
    top: 30.51%;
    border: 4px solid #000000;
    transform: rotate(90deg);
}
#short{
    position: absolute;
    left: 17.65%;
    right: 78.1%;
    top: 22.51%;
    border: 4px solid #000000;
    transform: rotate(180deg);
}
#circle{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 319px;
    top: 205px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________1boxEnd________________*/


/*_______________2box________________*/
#secBox2{
    position: absolute;
    left: 21.32%;
    right: 69%;
    top: 42.2%;
    bottom: 54.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox2>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox2{
    position: absolute;
    left: 21.28%;
    right: 63.74%;
    top: 47.14%;
    bottom: 42.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox2>h2{
    color: black;
    text-align: center;
}
#big2{
    position: absolute;
    left: 13.65%;
    right: 78.1%;
    top: 50.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short2{
    position: absolute;
    left: 17.65%;
    right: 78.1%;
    top: 49.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle2{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 321px;
    top: 459px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________2boxEnd________________*/

/*_______________3box________________*/
#secBox3{
    position: absolute;
    left: 21.32%;
    right: 69%;
    top: 70.2%;
    bottom: 26.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox3>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox3{
    position: absolute;
    left: 21.28%;
    right: 63.74%;
    top: 75.14%;
    bottom: 14.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox3>h2{
    color: black;
    text-align: center;
}
#big3{
    position: absolute;
    left: 7.65%;
    right: 72.1%;
    top: 78.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short3{
    position: absolute;
    left: 17.65%;
    right: 78.1%;
    top: 77.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle3{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 320px;
    top: 721px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________3boxEnd________________*/

/*_______________4box________________*/
#secBox4{
    position: absolute;
    left: 71.32%;
    right: 20%;
    top: 15.2%;
    bottom: 81.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox4>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox4{
    position: absolute;
    left: 71.28%;
    right: 15.74%;
    top: 20.14%;
    bottom: 69.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox4>h2{
    color: black;
    text-align: center;
}
#big4{
    position: absolute;
    left: 60.65%;
    right: 25.1%;
    top: 30.51%;
    border: 4px solid #000000;
    transform: rotate(90deg);
}
#short4{
    position: absolute;
    left: 68.65%;
    right: 28.1%;
    top: 22.51%;
    border: 4px solid #000000;
    transform: rotate(180deg);
}
#circle4 {
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 1269px;
    top: 208px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________4boxEnd________________*/

/*_______________5box________________*/
#secBox5{
    position: absolute;
    left: 71.32%;
    right: 20%;
    top: 42.2%;
    bottom: 54.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox5>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox5{
    position: absolute;
    left: 71.28%;
    right: 15.74%;
    top: 47.14%;
    bottom: 42.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox5>h2{
    color: black;
    text-align: center;
}
#big5{
    position: absolute;
    left: 58.65%;
    right: 23.1%;
    top: 50.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short5{
    position: absolute;
    left: 67.65%;
    right: 28.1%;
    top: 49.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle5{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 1267px;
    top: 459px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________5boxEnd________________*/

/*_______________6box________________*/
#secBox6{
    position: absolute;
    left: 71.32%;
    right: 20%;
    top: 70.2%;
    bottom: 26.24%;
    background: #212428;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 28px;
}
#secBox6>h1{
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 0.6700000000000017em 0;
}
#thirdBox6{
    position: absolute;
    left: 71.28%;
    right: 15.74%;
    top: 75.14%;
    bottom: 14.33%;
    background: #d5dbe1;
    box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
    border-radius: 19px;
}
#thirdBox6>h2{
    color: black;
    text-align: center;
}
#big6{
    position: absolute;
    left: 58.65%;
    right: 23.1%;
    top: 78.51%;
    border: 4px solid #000000;
    transform: rotate(
            90deg);
}
#short6{
    position: absolute;
    left: 67.65%;
    right: 28.1%;
    top: 77.51%;
    border: 4px solid #000000;
    transform: rotate(
            180deg);
}
#circle6{
    border: 3px;
    position: absolute;
    width: 36px;
    height: 33px;
    left: 1269px;
    top: 721px;
    border-radius: 20px;
    background: #18E5CD;
}
/*_______________6boxEnd________________*/


/*_________________________Projects_____________________________________*/

#projects{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>mp{
    color: #18E5CD;
}
h1#projects:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 545px;
    top: 43%;
    position: absolute;
}
h1#projects:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 545px;
    top: 43%;
    position: absolute;
}

#activity_container {
    position: relative;
    top: 140px;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1572px;
}
/*___________________MoreProjects____*/
#activity_container2 {
    position: relative;
    top: 42px;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1572px;
}
#activity_container3 {
    position: relative;
    top: 42px;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1572px;
}
#activity_img4 {
    background-image: url(../images/2.png);
}
#activity_img5 {
    background-image: url(../images/2.png);
}
#activity_img6 {
    background-image: url(../images/2.png);
}#activity_img7 {
     background-image: url(../images/2.png);
 }
#activity_img8 {
    background-image: url(../images/2.png);
}
#activity_img9 {
    background-image: url(../images/2.png);
}

/*___________________EndMoreProjects____*/

.activity_card_div {
    position: relative;
    width: 430px;
    height: 423px;
    background: #212428;
    box-shadow: 0px 0px 10px 10px rgb(24 229 205);
    border-radius: 86px;
}
.activity_card_div:hover {
    transform: scale(1.1);
}
.activity_card_div:hover>.activity_img {
    opacity: 20%;
}
.activity_card_div:hover>.content {
    opacity: 100%;
    transform: scale(1.1);
}
.activity_card_div > div:nth-child(1) {
    position: relative;
    top: 18px;
    left: 0;
    right: 0;
    margin: auto;
    width: 405px;
    height: 381px;
    border-radius: 75px;
}
#activity_img1 {
    background-image: url(../images/1.png);
}
#activity_img2 {
    background-image: url(../images/hbnet.png);
}
#activity_img3 {
    background-image: url(../images/pos.PNG);
}
.content{
    transition: 0.5s cubic-bezier(0.4, 0, 1, 1);
    opacity:0;
    position: absolute;
    top: 39%;
    right: -5px;
    left: 100px;
    margin: auto;
    font-size: 35px;
    color: white ;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
}

.activity_img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
#activity_btn{
    position: absolute;
    top: 85%;
    right: 111px;
    left: 750px;
    margin: auto;
}
.see_more_btn {
    width: 443px;
    height: 72px;
    border: 5px solid #2ae7d0;
    background-color: #1ee5ce;
    border-radius: 68px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 5px rgb(0 0 0 / 25%);
    color: black;
    line-height: 34px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: 'Saira Condensed', sans-serif;
}

.see_more_btn:hover {
    color: white;
}




/*_________________________Skills_____________________________________*/

#skills{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>mskill{
    color: #18E5CD;
}
h1#skills:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 590px;
    top: 43%;
    position: absolute;
}
h1#skills:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 590px;
    top: 43%;
    position: absolute;
}




#mainSlider3 {
    height: 287px;
    width: 1233px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 110px;
    right: 112px;
    bottom: 163px;
    margin: auto;
    overflow: hidden;
}
#iconSlide3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 2387px;
    animation: scroll2 10s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes scroll2 {
    from {
        margin-right: 1828px;
    }
    to {
        margin-right: -1821px;
    }
}



#mainSlider {
    height: 456px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 90px;
    right: 112px;
    bottom: 384px;
    margin: auto;
    overflow: hidden;
}
#iconSlide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 3475px;
    animation: scroll 5s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes scroll {
    from {
        margin-left: 1828px;
    }
    to {
        margin-left: -1821px;
    }
}
.slidPicBox {
    height: 222px;
    width: 247px;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 5px rgb(33 141 128);
}
.pic{
    position: relative;
    height: 222px;
    width: 247px;
    top: 0;
    left: 0;
    margin: auto;
}
.pic2{
    position: relative;
    height: 150px;
    width: 180px;
    top: 31px;
    left: 32px;
    margin: auto;
}


/*_________________________Contact_____________________________________*/

#contact{
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}
section>div>h1>mc{
    color: #18E5CD;
}
h1#contact:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:  #18E5CD;
    left: 590px;
    top: 43%;
    position: absolute;
}
h1#contact:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background:black;
    right: 590px;
    top: 43%;
    position: absolute;
}

#contactDetail{
    position: absolute;
    width: 822px;
    height: 305px;
    top: -298px;
    left: 60px;
    right: 869px;
    bottom: 0px;
    margin: auto;
}
.contactHead{
    text-align: center;
    margin: auto;
    font-size: 66px;
    font-family: 'Saira Condensed', sans-serif;
}
#contactDetail>img{
    position: relative;
    height: 435px;
    left: 150px;
}
.contactFooter{
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: 'Saira Condensed', sans-serif;
}



.alignContactIcn{
    position: absolute;
    display: flex;
    width: max-content;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: 236px;
    left: 55px;
}
.contactIcn{
    width: 45px;
}
#before {
    width: 7px;
    height: 142px;
    left: 18px;
    top: 263px;
    position: absolute;
    background-color: black;
}
#after {
    width: 7px;
    height: 147px;
    bottom: 280px;
    top: -210px;
    left: 18px;
    position: absolute;
    background-color: black;
}

#chatBox{
    position: absolute;
    display: flex;
    height: 331px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: 268px;
    left: 1088px;
}
.lbl{
    left: 35px;
    color: black;
    margin-top: 31px;
    font-weight: bold;
    font-size: 33px;
    font-family: 'Saira Condensed', sans-serif;
}
.inp{
    border: 4px solid black;
    width: 643px;
    height: 44px;
    font-size: 26px;
}
.inp2{
    border: 4px solid black;
    width: 643px;
    font-size: 26px;
    border-radius: 20px;
}
#contactBtnDiv{
    position: absolute;
    margin: auto;
    left: 490px;
}
#contactBtn{
    width: 161px;
    height: 53px;
    background: #18E5CD;
    box-shadow: -1px 2px 16px #18e5cd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border: 0;
    font-family: 'Saira Condensed', sans-serif;
}
#contactBtn:hover{
    color: white;
    cursor: pointer;
}





/*_________________________Footer_____________________________________*/


#footer {
    height: 300px;
}

.footer-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    bottom: -26px;
}

#pic {
    width: 150px;
    height: 150px;
    border: 5px solid #18e5cd;
    border-radius: 100%;
    background-image: url(../images/dp.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
#footer>hr{
    height: 4px;
    background-color: black;
}
#footer_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: black;
    font-family: 'Saira Condensed', sans-serif;
}

#footer_p > a {
    text-decoration: none;
    color: black;
}

#footer_p > a:visited {
    text-decoration: none;
    color: black;
}








/*_________responsive part______iphone_7______*/


@media all and (max-width: 375px){
    header > nav {
        font-size: 9px;
        font-weight: 700;
        color: white;
        line-height: 43px;
    }
    #secDP{
        display: none;
    }
    body > header {
        position: relative;
        height: 60px;
        background-color: black;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    header > nav > ul > li {
        display: inline;
        margin-left: -15px;
        margin-right: 23px;
        cursor: pointer;
    }
    header > nav > ul > li>a {
        color: white;
        text-decoration: black;
    }
    header > nav > ul > li>a:hover {
        color: #18E5CD;
    }
    main > section:nth-child(1) > div:nth-child(1)>div:nth-child(1) {
        position: absolute;
        top: 62px;
        left: 17px;
        margin: auto;
    }
    main > section:nth-child(1) > div:nth-child(1)>div:nth-child(1)>img {
        position: relative;
        height: 287px;
        left: 23px;
        bottom: 47px;
        border-radius: 100%;
        border-width: 5px;
        border: 4px solid black;
    }
    main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)> h3{
        text-align: center;
        margin: auto;
        font-size: 52px;
        font-family: 'Saira Condensed', sans-serif;
    }
    main >section:nth-child(1) > div:nth-child(1)>div:nth-child(1)> h1{
        text-align: center;
        margin: auto;
        font-size: 66px;
        line-height: 20px;
        font-weight: bold;
        font-family: 'Saira Condensed', sans-serif;
    }
    .align{
        display: flex;
        width: 251px;
        justify-content: space-evenly;
        margin: auto;
    }
    .icn{
        width: 37px;
    }




    /*______________about______*/

    #ABOUT{
        position: relative;
        color: black;
        text-align: center;
        margin: auto;
        font-size: 50px;
        font-family: 'Saira Condensed', sans-serif;
    }
    section>div>h1>am{
        color: #18E5CD;
    }
    h1#ABOUT:before {
        content: "";
        display: block;
        width: 64px;
        height: 11px;
        background: #18E5CD;
        left: 13px;
        top: 40%;
        position: absolute;
    }
    h1#ABOUT:after {
        content: "";
        display: block;
        width: 64px;
        height: 11px;
        background: black;
        right: 13px;
        top: 40%;
        position: absolute;
    }
    #aboutDetails{
        position: absolute;
        top: 0px;
        left: 1px;
        top: 281px;
        margin: auto;
    }
    section>div>ul>li>h2{
        font-size: 22px;
        font-family: 'Saira Condensed', sans-serif;
    }
    section>div:nth-child(3)>h1{
        ffont-weight: bold;
        font-size: 35px;
        font-family: 'Saira Condensed', sans-serif;
    }
    section>div>ul>li{
        line-height: 15px;
    }

    #img3div{
        position: absolute;
        top: 32px;
        left: 19px;
        margin: auto;
    }
    #img3{
        width: 342px;
        height: 293px;
    }

    #btnDiv {
        position: absolute;
        top: 316px;
        left: 115px;
        margin: auto;
    }
    #cvBtn {
        border-radius: 68px;
        width: 146px;
        height: 33px;
        background-color: #18E5CD;
        box-shadow: 0px 4px 10px 5px rgb(0 0 0 / 25%);
    }
    #cvBtn>btnTxt {
        font-weight: bold;
        font-size: 25px;
        font-family: 'Saira Condensed', sans-serif;
    }




    /*__________education__________________________*/


    #EDUCATION {
        position: relative;
        color: black;
        text-align: center;
        margin: auto;
        font-size: 32px;
        font-family: 'Saira Condensed', sans-serif;
    }
    h1#EDUCATION:before {
        display: none;
    }
    h1#EDUCATION:after {
        display: none;
    }
    #big{
        display: none;
    }
    #short{
        display: none;
    }
    #circle{
        display: none;
    }

    #big2{
        display: none;
    }
    #short2{
        display: none;
    }
    #circle2{
        display: none;
    }
    #big3{
        display: none;
    }
    #short3{
        display: none;
    }
    #circle3{
        display: none;
    }
    #big4{
        display: none;
    }
    #short4{
        display: none;
    }
    #circle4{
        display: none;
    }
    #big5{
        display: none;
    }
    #short5{
        display: none;
    }
    #circle5{
        display: none;
    }
    #big6{
        display: none;
    }
    #short6{
        display: none;
    }
    #circle6{
        display: none;
    }

    #secBox {
        position: absolute;
        left: 8.32%;
        right: 53%;
        top: 13.2%;
        bottom: 81.24%;
        background: #212428;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 28px;
    }
    #thirdBox {
        position: absolute;
        left: 8.28%;
        right: 52.74%;
        top: 19.14%;
        bottom: 73.33%;
        background: #d5dbe1;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 19px;
    }
    #thirdBox>h2 {
        color: black;
        font-size: 15px;
        text-align: center;
    }
    #secBox4 {
        position: absolute;
        left: 55.32%;
        right: 6%;
        top: 13.2%;
        bottom: 81.24%;
        background: #212428;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 28px;
    }
    #thirdBox4 {
        position: absolute;
        left: 55.28%;
        right: 5.74%;
        top: 19.14%;
        bottom: 73.33%;
        background: #d5dbe1;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 19px;
    }
    #thirdBox4>h2 {
        color: black;
        font-size: 15px;
        text-align: center;
    }
    #secBox2 {
        position: absolute;
        left: 8.32%;
        right: 54%;
        top: 40.2%;
        bottom: 54.24%;
        background: #212428;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 28px;
    }
    #thirdBox2 {
        position: absolute;
        left: 8.28%;
        right: 52.74%;
        top: 46.14%;
        bottom: 46.33%;
        background: #d5dbe1;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 19px;
    }
    #thirdBox2>h2 {
        color: black;
        font-size: 15px;
        text-align: center;
    }
    #secBox5 {
        position: absolute;
        left: 56.32%;
        right: 6%;
        top: 40.2%;
        bottom: 54.24%;
        background: #212428;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 28px;
    }
    #thirdBox5 {
        position: absolute;
        left: 56.28%;
        right: 5.74%;
        top: 46.14%;
        bottom: 46.33%;
        background: #d5dbe1;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 19px;
    }
    #thirdBox5>h2 {
        color: black;
        font-size: 15px;
        text-align: center;
    }
    #secBox3 {
        position: absolute;
        left: 8.32%;
        right: 55%;
        top: 70.2%;
        bottom: 24.24%;
        background: #212428;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 28px;
    }
    #thirdBox3 {
        position: absolute;
        left: 8.28%;
        right: 54.74%;
        top: 76.14%;
        bottom: 16.33%;
        background: #d5dbe1;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 19px;
    }
    #thirdBox3>h2 {
        color: black;
        font-size: 15px;
        text-align: center;
    }
    #secBox6 {
        position: absolute;
        left: 57.32%;
        right: 6%;
        top: 70.2%;
        bottom: 24.24%;
        background: #212428;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 28px;
    }
    #thirdBox6 {
        position: absolute;
        left: 57.28%;
        right: 5.74%;
        top: 76.14%;
        bottom: 16.33%;
        background: #d5dbe1;
        box-shadow: 0px 0px 20px 5px rgb(52 51 51 / 50%);
        border-radius: 19px;
    }
    #thirdBox6>h2 {
        color: black;
        font-size: 15px;
        text-align: center;
    }





    /*___________projects_________________*/

    .content{
        display: none;
    }
    #projects{
        position: relative;
        color: black;
        text-align: center;
        margin: auto;
        font-size: 50px;
        font-family: 'Saira Condensed', sans-serif;
    }
    .see_more_btn {
        width: 188px;
        height: 47px;
        border: 5px solid #2ae7d0;
        background-color: #1ee5ce;
        border-radius: 68px;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px 5px rgb(0 0 0 / 25%);
        color: black;
        line-height: 34px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        font-family: 'Saira Condensed', sans-serif;
    }
    #activity_btn {
        position: absolute;
        top: 91%;
        right: 111px;
        left: 98px;
        margin: auto;
    }

    h1#projects:before {
        content: "";
        display: block;
        width: 41px;
        height: 11px;
        background: #18E5CD;
        left: 18px;
        top: 22px;
        position: absolute;
    }
    h1#projects:after {
        content: "";
        display: block;
        width: 41px;
        height: 11px;
        background: black;
        right: 18px;
        top: 22px;
        position: absolute;
    }
    #activity_container {
        position: relative;
        top: 15px;
        right: 0;
        left: -584px;
        margin: auto;
        height: auto;
        gap: 34PX;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 1558px;
    }
    .activity_card_div {
        position: relative;
        width: 164px;
        height: 148px;
        line-height: 1000px;
        background: #212428;
        box-shadow: 0px 0px 10px 10px rgb(24 229 205);
        border-radius: 20px
    }

    .activity_img {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    .activity_card_div > div:nth-child(1) {
        position: relative;
        top: 3px;
        left: 0;
        right: 0;
        margin: auto;
        width: 160px;
        height: 141px;
        border-radius: 19px;
    }



    /*________________skillsresponce________*/

    #skills{
        position: relative;
        color: black;
        text-align: center;
        margin: auto;
        font-size: 60px;
        font-family: 'Saira Condensed', sans-serif;
    }

    #mainSlider3{
        display: none;
    }

    h1#skills:before {
       display: none;
    }

    #mainSlider{
        height: 533px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 118px;
        right: 112px;
        bottom: 25px;
        margin: auto;
        overflow: hidden;
    }

    @keyframes scroll {
        from {
            margin-top: 1828px;
        }
        to {
            margin-top: -1821px;
        }
    }

    #iconSlide {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-shrink: 0;
        flex-basis: 1554px;
        animation: scroll 5s linear alternate;
        animation-iteration-count: infinite;
        animation-delay: 0.1ms;
        flex-direction: column;
    }
    .slidPicBox {
        height: 177px;
        width: 249px;
        background-color: black;
        border-radius: 50px;
        box-shadow: 0px 5px 10px 5px rgb(33 141 128);
    }
    .pic {
        position: relative;
        height: 136px;
        width: 194px;
        top: 33px;
        left: 24px;
        margin: auto;
    }
    .pic2 {
        position: relative;
        height: 114px;
        width: 110px;
        top: 32px;
        left: 67px;
        margin: auto;
    }




    /*_______________contactresponce_______*/

    #contact{
        position: relative;
        color: black;
        text-align: center;
        margin: auto;
        font-size: 60px;
        font-family: 'Saira Condensed', sans-serif;
    }
    .contactHead{
        display: none;
    }
    #contactDetail{
        display: none;
    }
    #contactDetail>img{
        display: none;
    }
    h1#contact:before {
        display: none;
    }
    h1#contact:after {
        display: none;
    }
    .alignContactIcn {
        position: absolute;
        display: flex;
        width: max-content;
        height: 158px;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
        bottom: 266px;
        left: 8px;
    }
    .contactIcn {
        width: 24px;
    }
    #before {
        width: 4px;
        height: 77px;
        left: 11px;
        top: 148px;
        position: absolute;
        background-color: black;
    }
    #after {
        width: 4px;
        height: 66px;
        bottom: 280px;
        top: -101px;
        left: 9px;
        position: absolute;
        background-color: black;
    }
    #chatBox {
        position: absolute;
        display: flex;
        height: 142px;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
        bottom: 262px;
        left: 73px;
    }
    .lbl {
        left: 97px;
        color: black;
        margin-top: 19px;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Saira Condensed', sans-serif;
    }
    .inp {
        border: 4px solid black;
        width: 220px;
        height: 13px;
        font-size: 26px;
    }
    .inp2 {
        border: 4px solid black;
        width: 221px;
        font-size: 26px;
        border-radius: 20px;
    }
    #contactDetail{
        position: absolute;
        width: 822px;
        height: 290px;
        top: 829px;
        left: -220px;

        bottom: 0px;
        margin: auto;
    }
    .contactFooter{
        text-align: center;
        margin: auto;
        font-size: 20px;
        font-family: 'Saira Condensed', sans-serif;
    }

    #contactBtnDiv{
        position: absolute;
        margin: auto;
        left: 43px;
        top: 277px;
    }
    #contactBtn{
        width: 158px;
        height: 31px;
        background: #18E5CD;
        box-shadow: -1px 2px 16px #18e5cd;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 26px;
        color: black;
        border: 0;
        font-family: 'Saira Condensed', sans-serif;
    }



    /*________footer_________________*/
    #footer_p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 19px;
        line-height: 29px;
        text-align: center;
        color: black;
        font-family: 'Saira Condensed', sans-serif;
    }
    #footer>hr{
        display: none;
    }

}

